In [133]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import OrdinalEncoder
import numpy as np

In [134]:
data = "archive/housing.csv"
data = pd.read_csv(data)

In [135]:
data = data.drop("Address",axis=1)

In [136]:
obj_col = [col for col in data.columns if data[col].dtype=="object"]

In [137]:
oe = OrdinalEncoder()
data[obj_col] = pd.DataFrame(oe.fit_transform(data[obj_col]))

In [138]:
data

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05
...,...,...,...,...,...,...
4995,60567.94414,7.830362,6.137356,3.46,22837.36103,1.060194e+06
4996,78491.27543,6.999135,6.576763,4.02,25616.11549,1.482618e+06
4997,63390.68689,7.250591,4.805081,2.13,33266.14549,1.030730e+06
4998,68001.33124,5.534388,7.130144,5.44,42625.62016,1.198657e+06
4999,65510.58180,5.992305,6.792336,4.07,46501.28380,1.298950e+06

In [139]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
dtypes: float64(6)
memory usage: 234.5 KB

In [140]:
x =data.drop("Price",axis=1)

In [141]:
y = data["Price"]

In [142]:
a =[]
for i in range(len(y)):
    if i>1.232669e+06:
        a.append(1)
    else:
        a.append(0)

In [143]:
y=a

In [144]:
from sklearn.model_selection import train_test_split

trainx,testx,trainy,testy = train_test_split(x,y,train_size=0.8,test_size=0.2)

In [145]:
model = DecisionTreeClassifier(max_depth=i)
model.fit(trainx,trainy)
model.score(testx,testy)

1.0